<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2212524f-af4b-4f5c-940b-9c900fa6d6f3/resourcegroups/DayThreePortfolio20180831105547ResourceGroup/providers/Microsoft.Web/sites/Financial-PortalEF</ResourceId>
    <ResourceGroup>DayThreePortfolio20180831105547ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://financial-portalef.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>financial-portalef.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Financial-PortalEF</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Financial-PortalEF</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:efrazier-blog.database.windows.net,1433;Initial Catalog=Finance-DB;Persist Security Info=False;User ID=EliFrazier;Password=LavabombAdmin3;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:efrazier-blog.database.windows.net,1433;Initial Catalog=Finance-DB;Persist Security Info=False;User ID=EliFrazier;Password=LavabombAdmin3;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Finacial_Portal.Models.ApplicationDbContext, Finacial-Portal" MigrationConfiguration="Finacial_Portal.Migrations.Configuration, Finacial-Portal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:efrazier-blog.database.windows.net,1433;Initial Catalog=Finance-DB;Persist Security Info=False;User ID=EliFrazier;Password=LavabombAdmin3;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>